<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProjectsRoot" value="%APPS%;D:\APPS" />
    <add key="SourcesRoot" value="%APPS_SOURCES%;D:\APPS_SOURCES" />
    <add key="ArchivePassword" value="admin123$$" />
    <add key="LogFilePath" value="%APPDATA%\VersionManager\version_manager.log" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
